{% extends 'base.html' %}

{% block content %}

    <H1>Checkout</H1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <H2>Card Information</H2>
        <p>
            {{ form.cardNumber.label }}<br>
            {{ form.cardNumber(size=32) }}
        </p>
        <p>
            {{ form.expireDate.label }}<br>
            {{ form.expireDate(size=32) }}
        </p>
        <p>
            {{ form.cryptogram.label }}<br>
            {{ form.cryptogram(size=32) }}
        </p>



        <p>{{ form.submit() }}</p>
    </form>



{% endblock %}