{% extends 'base.html' %}

{% block content %}

    <h1>{{title}}</h1>

    <br>

    <h2> Driver </h2>

    {% for trip in trips_driver %}


        <div class="card">
     
        <div class="card-body">

        
        
        <table>

        <thead>

        
            <th colspan="1">Origin</th>
            <th colspan="1">Destination</th>
            <th colspan="1">Departure Date</th>
            <th colspan="1">Arrival Date</th>
            <th colspan="1">Cost ($CAN)</th>
            <th colspan="1">Driver</th>
            <th colspan="1">Available Places</th>
            <th colspan="1">Total Places </th>
            <th colspan="1">Passengers</th>
            

       
        </thead>

        <tbody>
    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['origin'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['destination'] }}</span></td>    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['departure_date'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['arrival_date'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['cost'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['driver'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['places_count'] }}</span></td>    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['places_total'] }}</span></td>
         <td>{% for passenger in trip['passengers'] %}
            <span class="badge badge-primary"style="width:200px; height:25px">{{passenger}}</span>
            {% endfor %}
        </td>

    
        </tbody>
        </table>


        </div>
        </div>


       
    {% endfor %}

    <br>

    <h2> Passenger</h2>



    {% for trip in trips_passenger %}


        <div class="card">
     
        <div class="card-body">

        
        
        <table>

        <thead>

        
            <th colspan="1">Origin</th>
            <th colspan="1">Destination</th>
            <th colspan="1">Departure Date</th>
            <th colspan="1">Arrival Date</th>
            <th colspan="1">Cost ($CAN)</th>
            <th colspan="1">Driver</th>
            <th colspan="1">Available Places</th>
            <th colspan="1">Total Places </th>
            <th colspan="1">Passengers</th>
            
       
        </thead>

        <tbody>
    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['origin'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['destination'] }}</span></td>    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['departure_date'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['arrival_date'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['cost'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['driver'] }}</span></td>
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['places_count'] }}</span></td>    
         <td><span class="badge badge-primary"style="width:150px; height:25px">{{ trip['places_total'] }}</span></td>
         <td>{% for passenger in trip['passengers'] %}
            <span class="badge badge-primary"style="width:200px; height:25px">{{passenger}}</span>
            {% endfor %}
        </td>
         <br>
    
        </tbody>
        </table>


        </div>
        </div>


       
    {% endfor %}

   
{% endblock %}

