{% extends 'base.html' %}

{% block content %}

    <h1>Create a trip</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.origin.label }}<br>
            {{ form.origin(size=32) }}
        </p>
         <p>
            {{ form.destination.label }}<br>
            {{ form.destination(size=32) }}
        </p>
      <p>
            {{ form.cost.label }}<br>
            {{ form.cost(size=32) }}
        </p>
        <p>
            {{ form.departure_date.label }}<br>
            {{ form.departure_date(size=32) }}
        </p>
         <p>
            {{ form.arrival_date.label }}<br>
            {{ form.arrival_date(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>



{% endblock %}


